<footer class="site-footer">

  <div class="container">
  	<div class="social">
	    <!-- <a class="fa fa-weixin" href="#test" target="_blank">
	    	<img src="{{ site.qrcode | prepend: site.qiniu_upload }}" />
	    </a>
	    <a class="fa fa-weibo" href="http://weibo.com/hello" target="_blank"></a> -->
	    <a class="fa fa-envelope" href="mailto: zyb@hzhaipin.com" target="_blank"></a>
	</div>

	<div class="copyright">
		© 2013-2015 {{ site.title }}  |  浙ICP备15029242号-1
	</div>

  </div>

</footer>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- <script src="{{ "assets/bootstrap/js/bootstrap.min.js" | prepend: site.qiniu }}""></script> -->
