<footer class="site-footer">

  <div class="container">
  	<div class="social">
	    <a class="fa fa-weixin" href="http://t.cn/RLYN2Pr" target="_blank">
	    	<img src="{{ site.qrcode | prepend: site.qiniu_upload }}" />
	    </a>
	    <a class="fa fa-weibo" href="http://weibo.com/u/3030482914" target="_blank"></a>
	    <a class="fa fa-envelope" href="mailto: lijin.paul@gmail.com" target="_blank"></a>
	    <a class="fa fa-rss" href="/feed.xml" target="_blank"></a>
	</div>

  	<div class="copyright">
    	© 2013-2015 {{ site.title }}  |  浙ICP备14001344号
    </div>

  </div>

</footer>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- <script src="{{ "assets/bootstrap/js/bootstrap.min.js" | prepend: site.qiniu }}""></script> -->
